* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #4f46e5 0%,
    #2563eb 30%,
    #22c55e 65%,
    #facc15 100%
  );
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.card {
  border: none;
  border-radius: 20px;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-8px);
}

.list-group-item {
  font-weight: 600;
}

.list-group-item:hover {
  background: #dbeafe;
  color: #2563eb;
}